<div class="chat-message d-flex">
  <!--Img of each message (profile photo)-->
  <img [src] = "message.sender.photoUrl" class="rounded-circle">
  <div class="bubble d-flex flex-column">
    <div class="name">
      <!--Input message from chat-message.ts
      (variable message) the Message comes from a class-->
      {{message.sender.firstName}} {{message.sender.lastName}}
    </div>
    <small class="timestamp">{{message.createAt |date:'medium'}}</small>
    <div class="message">
      {{message.message}}
    </div>
  </div>
</div>
